<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{border: solid;
           color:green;
            font-size: 50px;
            border-radius: 30px;
           background-color: rgb(18, 202, 248);}
    </style>
</head>
<body>
    <center>
    <h1>this is gowtham html page</h1>
    <a href="{% url 'siva' %}">go to siva</a>
    </center>
</body>
</html>